<p>Welcome back, <%= user.firstName %></p>
<h1>Dashboard</h1>

<div><a href="https://localhost:1337/company/update">Change profile information</div>
<div><a href="https://localhost:1337/companies/<%= company.handle %>">View my profile</a></div>
<div><a href="https://localhost:1337/user/update">Change Password</a></div>
<div><a href="https://localhost:1337/logout">Logout</a></div>
