<p>Welcome back, <%= user.firstName %></p>
<h1>Dashboard</h1>

<div><a href="https://localhost:1337/company/update">Change profile information</div>
<div><a href="https://localhost:1337/companies/<%= company.handle %>">View my profile</a></div>
<div><a href="https://localhost:1337/user/update">Change Password</a></div>
<div><a href="https://localhost:1337/logout">Logout</a></div>

<section id="modeToggle">
  <h4>Toggle View</h4>
  <form action="https://localhost:1337/togglemode" method="post">
    <select name="mode">
      <option value="buyer">Buyer</option>
      <option value="supplier">Supplier</option>
    </select>
    <input type="submit">
  </form>
</section>
