.userColumn h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #808080;
	border-bottom: 1px dotted #e3e3e3;
	padding-bottom: 5px;
	font-weight: 300;
}

.userColumn h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
	border-bottom: 3px solid #e3e3e3;
	padding-bottom: 7px;
	margin-top: 12px;
}

.userColumn h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}



.middleHeader {
	width: 100%;
	background: #333132;
}

.middleHeader h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 50px 20px 20px;
	letter-spacing: 0.05em;
	margin: 0px;
}

.middleDescription {
	background: #f5f4f2;
	padding: 25px 20px;
}

.middleDescription h1 {
	padding: 0px;
	margin: 0px 0px 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.05em;
}

.middleDescription p {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #808080;
	letter-spacing: 0.05em;
	font-size: 12px;
	line-height: 1.6em;
	margin-bottom: 12px;
}

.middleDescription a {
	color: #EF9818;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.08em;
}

.middleList {
	background: #EEECE9;
	padding: 25px 20px;
}

.middleList ul {
	margin: 0px;
	padding: 0px;
}

.middleList ul li {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #4d4d4d;
	padding-bottom: 10px;
}

.middleList strike {
	color: #9C9C9C;
}

.middleList ul li i {
	margin-right: 10px;
}

.rightSec {
	color: #EEECE9;
}